h3
{
    color: #070707;
    text-align: center;
}

h4
{
    color: #797979;
    text-align: center;
    font-size: 1.5rem;
}

p
{
    font-size: 1.2rem;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #3f3f3f;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
}

input
{
    max-width: calc(100% - 50px);
}

.input-full
{
    max-width: 100%;
}

.center
{
    text-align: center;
}

.position-input
{
    max-width: 200px;
    margin-bottom: 0.5rem;
}

.bubble-input
{
    margin-left: 1.0rem;
    margin-bottom: 1.0rem;
    max-width: 200px;
}

.float-btn
{
    float: right;
}

.belt-border
{
    border-style: solid;
    border-color: #707070;
    border-width: 5px;
    border-radius: 5px;
}

.align
{
    text-align: center;
}

#print-body
{
    max-width: 500px;
    background-color: #ffffff;
    background-image: none;
}