h3
{
    color: #070707;
    text-align: center;
}

p
{
    font-size: 1.2rem;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #3f3f3f;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
}

input
{
    margin-left: 1.0rem;
    margin-bottom: 1.0rem;
    max-width: 200px;
}

.float-btn
{
    float: right;
}

.belt-border
{
    border-style: solid;
    border-color: #707070;
    border-width: 5px;
    border-radius: 5px;
}

.align
{
    text-align: center;
}
