/***************************************** Misc. Styling *****************************************/
h1
{
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    width: 100%;
}

.sec
{
    display: inline-block;
    width: 100%;   
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
}

.desc
{
    color: #ffffff;
    font-size: 1.0rem;
}

#chk-row
{
    visibility: hidden;
    display: inline-block;
    text-align: center;
    width: 100%
}

.chk-div
{
    width: 6%;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}