body, html
{
    height: 100%;
    background-image: url("../images/noisy_net.png");
    overflow-x: hidden;
    font-size: 16px;
}

h1
{
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    width: 100%;
}

h2
{
    font-family: Georgia, Times, serif;
    text-align: center;
    font-size: 30px;
    color: #666666;
    border: 3px solid #666666;
}

h6
{
    font-weight: bold;
    border-bottom: 2px solid #666666;
}

h5
{
    font-weight: bold;
    color: #777777;
}

h4
{
    font-weight: bold;
    margin: auto;
}

p
{
    line-height: 1.5;
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin-bottom: 30px;
}

#page-body
{
    flex: 1 0 auto;
}

#right-col
{
    flex: 1 0 auto;
}

#file
{
    border: 2px solid #666666;
}

.select-btn
{
    display: block;
    margin-top: 20px;
    width: 100%;
}

#phrase
{
    margin: auto;
    border: 3px solid #666666;
}

.img-container
{
    position: relative;
}

.img-item
{
    position: absolute;
}

/******************************************** Header *********************************************/
.header-class
{
    font-family: Georgia, Times, serif;
    text-align: center;
    background-image: linear-gradient(to right, rgba(30, 47, 126, 0.3), rgba(109, 179, 242, .6)), url('../images/noisy_net.png');
    color: #ffffff;
    font-size: 30px;
    border-bottom: 3px solid #666666;
}

.nav-link
{
    font-family:  sans-serif;
    font-size:    20px;
}

.nav-title
{
    height: 100%;
    font-family: sans-serif;
    font-size: 30px;
    color: #ffffff;
}

.nav-title:hover,
.nav-link:hover
{
    background-color:  rgba(30, 47, 126, 1);
    border-radius: 5px;
}

/******************************************** Footer *********************************************/
footer
{
    border-top: 1px solid #666666;
    background-image: linear-gradient(to right, rgba(109, 179, 242, .6), rgba(30, 47, 126, 0.3)), url('../images/noisy_net.png');
    color: #ffffff;
}
