#page-body
{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.pal-select
{
    background-color: rgb(162, 0, 255);
}

.header
{
    position: absolute;
    height: 7vh;
    width: 100%;
    top: 0;
    left: 0;
}

.inner-header
{
    position: absolute;
    height: 100%;
    width: 100%;
    border: .1vh;
    border-style: none none solid none;
    border-bottom-color: black;
    background-color: rgb(211, 201, 247);
    text-align: center;
}

.title
{
    font-size: 4vh;
    color: rgb(54, 56, 156);
}

.settings-icon
{
    max-width: 100%;
    max-height: 100%;
    float: left;
}

.settings-icon:hover
{
    background-color: rgb(36, 38, 146, .2);
    cursor: pointer;
    border-radius: 50%;
}

.help-icon
{
    max-width: 100%;
    max-height: 100%;
    float: right;
}

.help-icon:hover
{
    background-color: rgb(36, 38, 146, .2);
    cursor: pointer;
    border-radius: 50%;
}

.stats-icon
{
    max-width: 100%;
    max-height: 100%;
    float: left;
}

.stats-icon:hover
{
    background-color: rgb(36, 38, 146, .2);
    cursor: pointer;
    border-radius: 50%;
}

.reset-icon
{
    max-width: 100%;
    max-height: 100%;
    float: right;
}

.reset-icon:hover
{
    background-color: rgb(36, 38, 146, .2);
    cursor: pointer;
    border-radius: 50%;
}

.reset-no-hov
{
    max-width: 100%;
    max-height: 100%;
    float: right;
}

.go-icon
{
    max-width: 100%;
    max-height: 100%;
}

.go-icon2
{
    max-width: 100%;
    max-height: 100%;
}

.go-icon:hover
{
    background-color: rgb(36, 38, 146, .2);
    cursor: pointer;
    border-radius: 50%;
}

.footer
{
    position: absolute;
    height: 5vh;
    width: 100%;
    top: 95vh;
    left: 0;
}

.inner-footer
{    
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(211, 201, 247);
}

.copywright
{
    color: rgb(54, 56, 156);
    font-size: 2vh;
    margin-bottom: 0;
}

#settings-modal
{
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 10vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
}

#editor-modal
{
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 10vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
}

.mod-content
{
    background-color: #fefefe;
    margin: auto;
    padding: 2vh;
    border-radius: 1vh;
    width: 80%;
    height: 90%;
    overflow: auto;
}

.close
{
    color: #aaaaaa;
    font-size: 2.5rem;
    font-weight: bold;
    float: right;
}
  
.close:hover,
.close:focus
{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.text-title
{
    text-align: center;
    font-size: 2rem;
    margin-top: .5rem;
    font-weight: bold;
}

.settings-text
{
    font-size: 1.5rem;
}

#game-body
{
    position: absolute;
    width: 100%;
    height: 74vh;
    top: 7vh;
    padding-top: .25vh;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(232, 235, 255), rgb(179, 180, 255), rgb(232, 235, 255));
    z-index: 100;
}

#game-control
{
    position: absolute;
    display: flex;
    width: 100%;
    height: 7vh;
    top: 81vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: .1vh;
    border-style: solid none none none;
    background-color: rgb(211, 201, 247);
}

.spacer
{
    position: absolute;
    height: 7vh;
    width: 100%;
    top: 88vh;
    left: 0;
    background-color: rgb(211, 201, 247);
}

#remain-span
{
    display: inline-block;
    margin-left: 2.5vw;
    margin-bottom: 0;
    font-size: 3vh;
    font-weight: bold;
}

#score-span
{
    display: inline-block;
    margin-left: 2.5vw;
    margin-bottom: 0;
    font-size: 3vh;
    font-weight: bold;
}

.column-div
{
    position: relative;
    top: 0;
    display: inline-block;
    border-style: solid;
    margin-left: .15vw;
    margin-right: .15vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-align: center;
    overflow: hidden;
    vertical-align: top;
    box-sizing: border-box;
}

.column-score
{
    position: absolute;
}

.smooth-scroll
{
    scroll-behavior: smooth;
}

.letter-div
{
    position: relative;
    margin: 0;
    padding-bottom: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit browsers */
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
    font-weight: normal;
}

.hov
{
    border-style: solid;
    border-color: rgb(87, 86, 86);
    border-radius: 13%;
    background-color: rgba(0,0,0,0.1);
}

.selected-hov
{
    background-color: rgba(0,0,0,0.1);
}

.selected-leave
{
    background-color: rgba(0,0,0,0);
}

.unselected-letter
{
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 13%;
}

.selected-letter
{
    border-style: solid;
    border-color: rgb(87, 86, 86);
    border-radius: 50%;
    border-width: 5%;
}

.instruction-title
{
    text-align: left;
    font-size: 2rem;
    margin-top: .5rem;
    font-weight: bold;
}

.instruction-icon
{
    height: 2rem;
}

.instruction-img
{
    max-width: 100%;
    height: auto;
}

.img-center
{
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
}

.instruction-center
{
    text-align: center;
    width: 100%;
}

.instruction-p
{
    margin: .5rem;
}

/*************************************** Game editor modal ***************************************/

.game-letter
{
    width: 35px;
    height: 35px;
    resize: none;
}

.letter-span
{
    height: 35px;
    display: inline-block;
    padding: 0;
}

.column-button
{
    width: 35px;
}